<!-- About Me Section (Inside Blue Container) -->
<div class="about" @fadeIn>
        
    <img class="about-photo" src="/profile-photo.jpg" alt="Your photo" />
    <div class="about-content">
        <h2>About Me</h2>
        <p>I'm a full-stack developer with experience in building modern web applications using technologies like TypeScript,
            Angular, React, and more. I enjoy learning new tools and solving challenges in both front-end and back-end
            development.</p>
        </div>
</div>

<!-- Skills Section (Outside Blue Container) -->
<div class="skills-section">
    <h3>My Skills</h3>
    <div class="skills">
        <div class="skill">
            <i class="fa-brands fa-html5"></i> HTML
        </div>
        <div class="skill">
            <i class="fa-brands fa-css3-alt"></i> CSS
        </div>
        <div class="skill">
            <i class="fa-brands fa-js-square"></i> JavaScript
        </div>
        <div class="skill">
            <i class="fa-brands fa-node"></i> Node.js
        </div>
        <div class="skill">
            <i class="fa-brands fa-react"></i> React
        </div>
        <div class="skill">
            <i class="fa-brands fa-angular"></i> Angular
        </div>
        <div class="skill">
            <i class="fa-brands fa-js-square"></i> TypeScript
        </div>
        <div class="skill">
            <i class="fa-brands fa-js-square"></i> Next.js
        </div>
        <div class="skill">
            <i class="fas fa-plug"></i> API
        </div>
    </div>
</div>

<section class="studies-certifications">
    <div class="studies-certifications-content">
        <h3>Studies & Certifications</h3>
        <div class="studies">
            <div class="study">
                <h3>Higher Professional Training - Multiplatform App Development</h3>
                <p>CEAC  2024 - 2026</p>
            </div>
            <div class="study">
                <h3>Intermediate Professional Training - Microcomputer Systems and Networks</h3>
                <p>OBICEX  2022 - 2024</p>
            </div>
            <div class="certification">
                <h3>English B2 Certification</h3>
                <p>Cambridge University - May 2022 | ID: B8403418</p>
            </div>
            
        </div>
    </div>
</section>